html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;   
}

body{
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    display: grid;
    grid-template-columns: 25% 75%;
    grid-template-rows: 1fr;
    grid-template-areas: "side" "principal";    
}

.main{
    background-color: #F7F2E0;
    height: 100%;
    display: flex;
    align-content: center;
}

.imagens{
    height: 100%;

    grid-area: "principal";

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "1" "2" 
                         "3" "4" ;
    grid-gap: 0px;
    align-content: center;    
}


body > .main > .imagens > #sala2{
    grid-area: "1";
    align-self: flex-end;
}

body > .main > .imagens > #casa{
    grid-area: "2";
    align-self: flex-end;
}

body > .main > .imagens > #quarto{
    grid-area: "3";
    align-self: flex-start;
}

body > .main > .imagens > #casa2{
    grid-area: "4";
    align-self: flex-start;
}

.aside{
    background-color: #F7F2E0;
    grid-area: "side";

    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 200px auto 100px;
    grid-template-areas: "logo"
                         "menu"
                         "footer";
}

.logo{
    margin-top: 20px;
    grid-area: "logo";
    justify-self: center;
    align-self: center;
}

.menu{
    margin-top: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    text-align: center;

    grid-area: "menu";

    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: "inicio"
                        "projetos"
                        "serviços"
                        "contato";
    grid-row-gap: 5px;
}

body > .aside > .menu > a{
    padding: 25px;
}
body > .aside > .menu > #inicio{
    grid-area: "inicio";
}

body > .aside > .menu > #projetos{
    grid-area: "projetos";  
}

body > .aside > .menu > #serviços{
    grid-area: "serviços";   
}

body > .aside > .menu > #contato{
    grid-area: "contato";
}

a{
    color: #363636;
    text-decoration: none;
}

body > .aside > .menu > a:hover{
    background-color: #19070B;
    color:white;
    border: 2px solid white;  
} 

.footer{
    grid-area: "footer";
    text-align: center;
}

i {
    font-size: 40px;
    margin: 30px 20px;
}




